<div style="margin-top: 50px;">
<%= form_for @user, url: registration_path(resource_name) do |f| %>
    <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email%>
    </div>
    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name%>
    </div>
    <div class="field">
        <%= f.label :password %><br />
        <%= f.text_field :password%>
    </div>
    <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.text_field :password_confirmation%>
    </div>
  <div>
  <%= f.fields_for :members do |m| %>
    <div>
        <%= m.label :first_name %>
        <%= m.text_field :first_name %>
    </div>
<% end %>
</div>
<div>
    <%= f.fields_for :cars do |c| %>
        <div>
            <%= c.label :car_displacement_1 %>
            <%= c.text_field :car_displacement_1 %>
        </div>
    <% end %>
</div>
  </div>
    <%= f.submit %>
 <% end %>
</div>