<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @m6_m.text %>
</p>

<p>
  <strong>Level:</strong>
  <%= @m6_m.level %>
</p>

<p>
  <strong>Type:</strong>
  <%= @m6_m.type %>
</p>

<%= link_to 'Edit', edit_m6_m_path(@m6_m) %> |
<%= link_to 'Back', m6_ms_path %>
