<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="ctl00_head">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="ja" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../image/favicon.ico" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="../image/favicon.ico" />
  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->
  <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/wj/wjg0000.css" type="text/css"/>
  <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/controls/josenYoyakuProgress.css" type="text/css"/>
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/jquery/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="https://reservation.sadokisen.co.jp/webyoyaku/js/commonWJ.js?ver=20170703"></script>
  <title> インターネット予約：ログイン ～佐渡汽船～ </title>
  <link rel="stylesheet" href="https://reservation.sadokisen.co.jp/webyoyaku/css/wj/wjg0420.css" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(function(){
        history.pushState(null, null, null);
        $(window).on("popstate", function(){
            history.pushState(null, null, null);
        });
    });
  </script>
</head>
<body id="ctl00_JosenYoyaku" class="JosenYoyaku">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5J5QL3"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <div class="FontNotoSans">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),id: "aspnetForm",class: "FontNotoSans",name: "aspnetForm",method: "post",action: "./WJG0420.aspx?Lang=ja-JP&amp;_ga=2.67846930.204386397.1645664377-380420279.1644998245") do |f| %>
      <div id="ctl00_divPageTitleArea" class="PageTitleArea">
        <div style="display:table;">
          <div style="display:table-cell;">
            <div id="divSadoKisenIcon" class="SadoKisenIcon">
              <a id="ctl00_lnkTop" href="https://www.sadokisen.co.jp/"><img src="https://reservation.sadokisen.co.jp/webyoyaku/image/logo.gif" alt="佐渡汽船Top"  title="佐渡汽船Top"/></a>
            </div>
            <div id="divPageTitle" class="PageTitle">
              <span id="ctl00_lblPageTitle">インターネット予約</span>
            </div>
          </div>
          <div id="divServiceMessage" class="ServiceMessage">
            <span id="ctl00_lblServiceMessage" class="Warning"></span>
            <a href="#">
            </a>
          </div>
        </div>
      </div>
      <div id="ctl00_divPageOverview" class="PageOverview">
        <div id="divLoginUser" class="LoginUser">
          <span id="ctl00_lblLogin"></span>
        </div>
        <div id="divHayatokuTitle" class="HayatokuTitle"> </div>
        <div id="divProgresArea" class="ProgressFrame"> </div>
        <div id="divMenuMei" class="MenuMei">
          <span id="ctl00_lblMenuMei">会員ログイン</span>
        </div>
      </div>
      <div id="divMain" class="MainContentArea">
        <div id="divWebContentPlaceHolder">
          <div id="ctl00_WebContentPlaceHolder_updLogin">
            <div id="divLoginArea" class="LoginArea">
              <div id="divLoginTitle" class="TitleArea">
                <span id="ctl00_WebContentPlaceHolder_lblLoginTitle" class="TitleLabel">会員ログイン</span>
              </div>
              <div id="divLoginInputArea" class="InputTableFrame">
                <div id="divLoginMainArea">
                  <div id="divLoginError">
                    <div class="WarningMsg" id="ctl00_WebContentPlaceHolder_lblMsg">
                        <% if alert.present? %>
                        <%= alert %>
                        <br>
                        <br>
                           <% if (alert.is_a? String) %>
                              <%= alert %>
                           <% else %>
                              <% alert.each_value do |v| %>
                                <%= v %>
                                <br>
                              <% end %>
                           <% end %>
                        <% end %>
                    </div>
                  </div>
                  <div id="divKaiinBangoArea">
                    <div class="ColumnTitle">
                      <%= f.label :会員番号%><br />
                    </div>
                    <div>
                      <%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder: "半角英数字で入力してください。" ,class: "Input",type: "text",id: "ctl00_WebContentPlaceHolder_txtKaiinBango"  %>
                    </div>
                  </div>
                  <div id="divPasswordArea">
                    <div class="ColumnTitle">
                      <%= f.label :password%><br />
                    </div>
                    <div>
                      <%= f.password_field :password, id: "ctl00_WebContentPlaceHolder_lblPassword", autocomplete: "current-password",type: "password",class: "Input",placeholder: "半角英数字で入力してください。" %>
                    </div>
                  </div>
                  <div id="divLoginButtonFrame">
                    <%= f.submit "ログイン",type: "submit",id: "ctl00_WebContentPlaceHolder_btnLogin",class: "ButtonBlue ButtonMainText",value: "ログイン" %>
                  </div>
                  <script type="text/javascript">
                  $(document).ready(function() {
                        $("#ctl00_WebContentPlaceHolder_btnLogin").bind("click", function(event) {
                          var name = $("#ctl00_WebContentPlaceHolder_txtKaiinBango").val();
                          console.log($("#ctl00_WebContentPlaceHolder_txtKaiinBango"));
                          var password = $("#ctl00_WebContentPlaceHolder_lblPassword").val();
                          if (!$("#ctl00_WebContentPlaceHolder_lblMsg").val() == '') {
                            $("#ctl00_WebContentPlaceHolder_lblMsg").val("")
                          }
                          if (name == '' && password == "") {
                            $("#ctl00_WebContentPlaceHolder_lblMsg").html("名前　パスワー<br>")
                            event.preventDefault();
                            event.stopPropagation();
                            } 
                          else if ( password == "") {
                            $("#ctl00_WebContentPlaceHolder_lblMsg").html("パスワード")
                            $("#ctl00_WebContentPlaceHolder_txtKaiinBango").val("");
                            event.preventDefault();
                            event.stopPropagation();
                          } 
                        else if (name == '') {
                          $("#ctl00_WebContentPlaceHolder_lblMsg").val("")
                          $("#ctl00_WebContentPlaceHolder_lblMsg").html("名前")
                          $("#ctl00_WebContentPlaceHolder_lblPassword").val("");
                            event.preventDefault();
                            event.stopPropagation();
                            }
                          })
                      })
                </script>
                  <div id="divLinkKaiinPassword" class="fontHiragino KaiinPasswordLink">
                    <%= link_to "新規会員登録", new_registration_path(resource_name) %><br /> </div>
                  </div>
                  <div id="divLinkKaiinPassword" class="fontHiragino KaiinPasswordLink">
                    <%= link_to "会員番号・パスワードをお忘れですか？", new_password_path(resource_name) %><br /> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="ctl00_WebContentPlaceHolder_updOshirase"></div><br>
          <a id="ctl00_WebContentPlaceHolder_lnkSadokisenTopPage" class="TopPageBack" href="http://localhost:3000" style="font-size:0.9em;">
            <div> 
              <img id="ctl00_WebContentPlaceHolder_imgSadokisenTopPage" src="https://reservation.sadokisen.co.jp/webyoyaku/image/arrowA.png" alt="arrow" style="border-width:0px;" />
            </div>
            <div>
              <span id="ctl00_WebContentPlaceHolder_lblSadokisenTopPage">トップページに戻る</span>
            </div>
          </a><br><br>
        </div>
      </div>
      <div class="PageFooter fontHiragino"><br/><span id="ctl00_lblCopyright"></span><input type="hidden" name="ctl00$hidid" id="ctl00_hidid" value="01" /></div>
    <% end %>
  </div>
</body>